.input-numere {
  padding: 10px;
  margin: 10px;
  border: 2px solid #333;
  border-radius: 5px;
  width: 150px;
  font-size: 20px;
}

button {
  padding: 10px 15px;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}