body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("./assets/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
}
